@import '/public/const.scss';

.best-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 80px;
    background-color: white;
    h2{
        font-size: 32px;
        font-weight: 600;
        line-height: 1;
        color: black;
    }
    .best-card-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        .best-card{
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex: 1 1 calc(25% - 15px);
            min-width: calc(25% - 15px);
            &:nth-child(6n+1),
    &:nth-child(6n+6),
    &:nth-child(6n+7) {
      flex: 1 1 calc(50% - 10px);
      min-width: calc(50% - 10px);
    }
            p{
                margin-bottom: 0;
                line-height: 1;
                font-size: 16px;
                font-weight: 400;
                color: black;
            }
            span{
                font-size: 16px;
                font-weight: 500;
                color: $Vinous;
            }
            img{
                object-fit: cover;
                width: 100%;
                height: 55vh;
            }
            svg{
                position: absolute;
                top: 10px;
                right: 10px;
                width: 20px;
                height: auto;
            }
        }
    }
}