@import '/public/const.scss';

.contacts-page {
  padding: 100px 80px 20px;
  max-width: 1200px;
  min-height: 75vh;
  margin: 0 auto;
@media (max-width: 768px){
    padding: 80px 3vw 80px !important;
}
  &__title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media (min-width: 768px) {
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__item {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

      .contacts-page__label {
        font-weight: 500;
        color: #333;
      }

      .contacts-page__link {
        font-weight: 600 !important;
        text-decoration: underline;
        color: black;
        transition: color 0.3s ease;
        &:hover{
            color: $Vinous;
        }
      }
  &__stores {

    &-title {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    &-text {
      font-size: 18px;
      color: #666;
      margin-bottom: 20px;
    }

    &-placeholder {
      display: flex;
      justify-content: center;
      img {
        border-radius: 12px;
        object-fit: cover;
      }
    }
  }
}
