@import "/public/const.scss";


.project-fon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 0px -95vh 100vh -5vh rgba(8, 14, 19, 0.55) inset;
    -moz-box-shadow: 0px -95vh 100vh -5vh rgba(8, 14, 19, 0.55) inset;
    box-shadow: 0px -95vh 100vh -5vh rgba(3, 7, 8, 0.55) inset;
    color: white;
    gap: 10px;
    h1{
        font-size: 44px;
        padding: 0 25%;
        font-weight: 400;
        text-align: center;
    }
    span{
        font-size: 20px;
    }
}
.article-page {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px; 
    box-sizing: border-box; 

   .link-product{
    margin-left: 27.5%;
    border-bottom: 1px solid black;
    width: fit-content;
    text-align: start;
    align-self: flex-start;
   }
    h1 {
        max-width: 50%;
        text-align: center;
        margin-top: 170px;
        font-size: 2rem; 
        margin-bottom: 10px; 
        font-weight: 600;
    }
    h4{
        margin-top: 40px;
        width: 45%;
        text-align: left;
    }
    
    img {
        margin-top: 50px;
        width: 70%; 
        height: 400px; 
        margin-bottom: 15px; 
        object-fit: cover; 
    }

  
    p {
        margin-top: 20px;
        width: 100%;
        padding-left: 20%;
        font-size: 1rem;
        margin-bottom: 15px; 
        color: #666; 
    }

    
    .article-text {
        margin-top: 20px;
        font-weight: 400;
        width: 45%; 
        font-size: 1rem; 
        line-height: 1.6; 
        text-align: justify; 
        margin-bottom: 20px; 
        h2{
            text-align: left;
        }
    
    }

    .tags {
        margin-top: 20px; 
        display: flex; 
        flex-wrap: wrap; 
        gap: 10px; 
    }

    .tag {
        background-color: #f1f1f1; 
        border-radius: 4px; 
        padding: 5px 10px; 
        font-size: 0.9rem; 
        color: #333; 
        display: inline-block;
    }
    .back-button {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 30px;
        padding: 10px 0px;
        font-size: 18px;
        color: black;
        //background-color: $dark-gray;
        border: none;
        border-bottom: 1px solid black;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        transition: 0.3s ease;
        margin-bottom: 50px;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;
}
    .back-button:hover{
        //background-color: black;
        padding: 10px 20px;
    }
}
@media(max-width:1600px) {
    .article-page { 
        h4{
            width: 60%;
        }
        .link-product{
            margin-left: 20%;
        }
        .article-text {
            margin-top: 40px;
            font-weight: 400;
            width:60%; 
            font-size: 1rem; 
            line-height: 1.6; 
            text-align: justify; 
            margin-bottom: 20px;
            h5{
                text-align: left;
            } 
          
    }
}
}
@media(max-width:992px) {
    .project-fon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 60vh;
        height: 60vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        -webkit-box-shadow: 0px -95vh 100vh -5vh rgba(8, 14, 19, 0.55) inset;
        -moz-box-shadow: 0px -95vh 100vh -5vh rgba(8, 14, 19, 0.55) inset;
        box-shadow: 0px -95vh 100vh -5vh rgba(3, 7, 8, 0.55) inset;
        color: white;
        gap: 10px;
        h1{
            font-size: 28px;
            padding: 0 10%;
            font-weight: 400;
            text-align: center;
        }
        span{
            font-size: 14px;
        }
        p{
            font-size: 14px;
        }
    }
    .article-page { 
        padding: 0 2%;
        h4{
            width: 95%;
        }
        .link-product{
            margin-left: 2.5%;
        }
        h1 {
            max-width: 100%;
            width: 100%;
            text-align: center;
            font-size: 24px;
        }
        img{
            width: 100%;
            
        }
        P{
            margin-top: 0px;
            padding-left: 0;
        }
        .article-text {
            margin-top: 20px;
            font-weight: 400;
            width:95%; 
            font-size: 1rem; 
            line-height: 1.6; 
            text-align: justify; 
            margin-bottom: 20px; 
          
    }
}
}