.cart-item {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    line-height: 1;
    &__image-link {
        display: block;
        width: 180px;
        height: 250px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }



    &__code,
    &__options {
        font-size: 16px;
        color: #666;
    }

    &__title {
        font-weight: 600;
        text-decoration: none;
        color: #000;
        margin-bottom: 0;
        font-size: 18px;
    }

    &__price {
        font-weight: 450;
        margin-top: 5px;
        font-size: 24px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        flex: 1;
    }

        &__remove {
            border: none;
            background: none;
            cursor: pointer;
            font-size: 30px;
            line-height: 1;
            svg{
                width: 24px;
                height: auto;
                transition: .4s ease;
                -webkit-transition: .4s ease;
                -moz-transition: .4s ease;
                -ms-transition: .4s ease;
                -o-transition: .4s ease;
}
            &:hover{
                svg{
                    fill: black;
                }
            }
        }
        &__quantity {
            display: flex;
            align-items: center;
            gap: 5px;

            &-btn {
                cursor: pointer;
                font-size: 22px;
                background-color: transparent;
                border: none;
                color: black;
            }

            &-value {
                min-width: 20px;
                text-align: center;
                font-size: 18px;
            }
        }
    &__controls {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 40px;


    }
}