@import '/public/const.scss';

.cart-page {
  padding: 125px 15vw 80px 15vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  h1{
    margin-bottom: 0;
  }
  h2{
    margin-bottom: 0;
  }
  @media screen and (max-width: 1380px) {
    padding: 125px 10vw 80px 10vw;
  }

  @media screen and (max-width: 1195px) {
    padding: 100px 5vw 80px 5vw;
  }

  @media screen and (max-width: 1060px) {
    gap: 20px;
    .cart-items{
      padding: 20px !important;
    }
    .cart-promo{
      padding: 20px !important;
    }
    .cart-summary{
      padding: 20px !important;
    }
  }
  @media screen and (max-width: 530px) {
    padding: 80px 3vw 80px 3vw;
  }
  @media screen and (max-width: 500px) {
    gap: 3vw;
    padding: 80px 3vw 80px 3vw;
    .cart-items{
      padding: 3vw !important;
    }
    .cart-item{
      gap: 3vw !important;
      &__title{
        font-size: 14px;
      }
      &__options{
        font-size: 12px;
      }
      &__price{
        font-size: 20px;
      }
      &__image-link{
        width: 35%;
        height: 50%;
      }
      &__controls{
        gap: 20px;
      }
      &__remove{
        svg{
          width: 18px;
          height: auto;
        }
      }
      &__quantity-btn{
        font-size: 18px;
      }
      &__quantity-value{
        font-size: 16px;
      }
    }
    
    .cart-promo{
      gap: 10px !important;
      .promo-row{
        flex-wrap: wrap;
        justify-content: flex-start !important;
        gap: 3vw !important;
          .apply-promo{
            width: 100%;
            color: white;
          }
        .promo-container{
          flex: 1;
          input{
            padding: 0;
          }
        }
      }
    }
  }
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #d9d9d9;
    padding: 30px;
  }

  .cart-promo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #d9d9d9;
    padding: 30px 80px;

    h2 {
      font-size: 18px;
    }

    .promo-row {
      display: flex;
      gap: 20px;
      align-items: flex-end;
      justify-content: space-between;

      .promo-container {
        position: relative;
        display: flex;
        width: 50%;
      }

      input {
        border: none;
        border-bottom: 1px solid #ccc;
        background-color: transparent;
        color: black;
        padding: 5px;
        outline: none;
        width: 100%;
      }

      .clear-promo {
        position: absolute;
        right: 0;
        bottom: 5px;
        color: black;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
      }

      .apply-promo {
        padding: 10px 40px;
        border: 1px solid $Vinous;
        background: $Vinous;
        cursor: pointer;
      }
    }
  }

  .cart-summary {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #d9d9d9;
    padding: 30px 80px;

    h2 {
      font-size: 18px;
    }

    .summary-row {
      display: flex;
      justify-content: space-between;
    }

    hr {
      border: none;
      border-top: 1px solid #d9d9d9;
      opacity: 1;
      margin: 10px 0;
    }

    .summary-total {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
    }

    .checkout-btn {
      display: inline-block;
      padding: 15px;
      border: 1px solid $Vinous;
      background-color: $Vinous;
      color: white;
      text-decoration: none;
      text-align: center;
      margin-top: 10px;
      cursor: pointer;
    }
  }
}