@import '/public/const.scss';

.product-swiper{
  width: 100%;
  .swiper-slide{
    img{
      width: 100%;
      height: auto;
    }
  }
  .gallery-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    .swiper-btn-prev, .swiper-btn-next{
      border: none;
      background-color: transparent;
      color: black;
      padding: 2px;
    }
    .swiper-button-disabled{
      color: rgba(0, 0, 0, 0.5);
    }
    .swiper-pagination-fraction{
      position: relative;
      bottom: auto;
      top: auto;
    }
  }
}

.color-row {
  display: flex;
  gap: 8px;
}

.color-swatch {
  width: 26px;
  height: 26px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #ccc;
}

.color-swatch.active {
  border-color: #000;
}

.size-row {
  display: flex;
  gap: 8px;
}

.size-btn {
  padding: 6px 12px;
  //border-radius: 6px;
  width: fit-content;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  color: #000;
}

.size-btn.active {
  background: #000;
  color: #fff;
  border-color: #000;
}


.product-page {
  padding: 125px 15vw 80px;
  display: flex;
  gap: 60px;
  color: #000;
  @media screen and (max-width: 1000px) {
    padding: 125px 5vw 80px;
    gap: 20px;
  }
  @media screen and (max-width: 700px) {
    padding: 125px 3vw 80px;
  }
  @media screen and (max-width: 500px) {
    padding: 70px 3vw 80px;
    flex-direction: column;
    gap: 0px;
    &__gallery{
      width: 100% !important;
    }
    &__info{
      width: 100% !important;
      gap: 10px !important;
      .title{
        font-size: 20px !important;
      }
      .price{
        font-size: 24px !important;
      }
    }
  }
  .gallary-pc{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__gallery {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .gallery__main {
      //height: calc(100vh - 280px);
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        cursor: zoom-in;
      }
    }

    .gallery__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      img {
        width: 100%;
        height: auto;
        //object-fit: cover;
        cursor: zoom-in;
      }
    }
  }

  &__info {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title {
      font-size: 28px;
      margin-bottom: 0;
    }
    .price {
      font-size: 32px;
      font-weight: 600;
      line-height: 1;
    }

    .choose {
      display: flex;
      flex-direction: column;
      gap: 4px;

      select {
        border: none;
        background: #fff;
        padding: 6px 8px;
        font-size: 14px;
        cursor: pointer;
        color: black;
      }
    }

    .size-guide-link {
      text-decoration: underline;
      cursor: pointer;
      width: fit-content;
    }

    .desc-block {
      .label {
        font-weight: 600;
        margin-bottom: 4px;
      }
      p {
        font-size: 14px;
      }
    }

    .add-cart {
      padding: 10px 0;
      background: #000;
      color: #fff;
      border: none;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

/* ===== МОДАЛКИ ===== */

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;

  &__inner {
    background: #fff;
    padding: 20px;
    display: flex;
    gap: 20px;
    max-height: 90vh;

    .modal__thumbs {
      display: flex;
      flex-direction: column;
      gap: 10px;

      img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        opacity: .5;
        cursor: pointer;
        &.active {
          opacity: 1;
        }
      }
    }

    .modal__viewer {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-height: 80vh;
        max-width: 70vw;
        cursor: zoom-in;
      }
    }
  }

  /* таблица размеров */
  .size-guide img {
    max-height: 85vh;
    max-width: 85vw;
  }
}
