@import '/public/const.scss';



@keyframes backgroundMove {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
.hero-image{
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center 62%;
    bottom: 0;
    z-index: -10;
    animation: backgroundMove .5s ease;
    -webkit-animation: backgroundMove .5s ease;
}
.hero{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    .hero-content{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 100px 40px;
        width: 100%;
        height: 100vh;
        justify-content: space-between;
        gap: 10%;
        background: -webkit-linear-gradient(0deg, #0000009c,#00000000);/* Chrome 10-25, Safari 5.1-6 */                          
        background: linear-gradient(0deg, #0000009c,#00000000);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
        p{
            font-size: 36px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: -4%;
            margin-bottom: 0;
            color: white;
            text-transform: uppercase;
        }
        .hero-cta{
            display: flex;
            flex-direction: row;
            gap: 20px;
            font-size: 20px;
            padding: 15px 80px;
            background-color: white;
            align-items: center;
            font-weight: 400;
            svg{
                width: 35px;
                height: auto;
                transition: .4s ease;
                -webkit-transition: .4s ease;
                -moz-transition: .4s ease;
                -ms-transition: .4s ease;
                -o-transition: .4s ease;
            }
            &:hover{
                svg{
                    transform: translateX(30%);
                    -webkit-transform: translateX(30%);
                    -moz-transform: translateX(30%);
                    -ms-transform: translateX(30%);
                    -o-transform: translateX(30%);
            }
            }
        }
    }
}