@import "/public/const.scss";

footer {
    position: relative;
    background: black;
    bottom: 0;


    .connection {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }

    .content-block-mob {
        display: none;
    }

    .content-block {
        display: flex;
        flex-direction: row;
        padding: 40px;
        justify-content: space-between;

        img {
            width: 165px;
            height: auto;
            margin-right: 70px;
        }

        .footer-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex: 1;

            .nav-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                flex: 1;
                gap: 20px;
                .politics{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    font-size: 14px;
                    span{
                        color: white;
                        margin-right: 20px;
                    }
                    a{
                        color: rgba(255, 255, 255, 0.6);
                        transition: .4s ease;
                        -webkit-transition: .4s ease;
                        -moz-transition: .4s ease;
                        -ms-transition: .4s ease;
                        -o-transition: .4s ease;
                        &:hover{
                            color: white;
                        }
                    }
                }
                .nav-contacts{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 20px;
                    p{
                        color: white;
                        line-height: 1;
                        font-weight: 400;
                        font-size: 16px;
                    }
                }
                .nav-block-connection {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    gap: 10px;

                    svg {
                        width: 30px;
                        height: auto;
                        color: white;
                    }
                }

                .nav-block {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    column-gap: 30px;
                }

                .mail-tel {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    font-weight: 450;
                    gap: 10px;
                }

                p {
                    color: #9e9e9e;
                    margin: 0;
                    font-weight: 300;
                }

                a {
                    color: #dbdbdb;
                }
            }
        }
    }

    .svyaz {
        ul {
            a {
                font-weight: 500;
            }
        }
    }

    .col-block {
        h6 {
            font-weight: 700;
            margin-bottom: 15px;
        }

        p {
            display: flex;
            margin: 0;
        }
    }

    .nav-link {
        position: relative;
        color: #dbdbdb !important;
        text-decoration: none;
        transition: 0.4s ease;
        font-weight: 500;
        width: fit-content;
        font-size: 16px;
        margin: 0;
        line-height: 1;
        -webkit-transition: 0.4s ease;
        -moz-transition: 0.4s ease;
        -ms-transition: 0.4s ease;
        -o-transition: 0.4s ease;
        &::after{
            content: '';
            position: absolute;
            width: 0px;
            height: 1px;
            bottom: -4px;
            left: 0;
            background-color: white;
            transition: .4s ease;
            -webkit-transition: .4s ease;
            -moz-transition: .4s ease;
            -ms-transition: .4s ease;
            -o-transition: .4s ease;
        }
        &:hover{
            color: white;
        }
        &:hover::after{
            width: 100%;
        }
    }


    .nav-connection {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: fit-content;
    }

    .nav-connection:nth-child(1) {
        svg {
            width: 35px;
            height: auto;
        }
    }

    .nav-connection:nth-child(2) {
        svg {
            width: 35px;
            height: auto;
        }
    }

    .nav-connection:nth-child(3) {
        svg {
            width: 35px;
            height: auto;
        }
    }

    ul {
        list-style: none;
        padding-left: 0px;
    }
}

@media (max-width: 992px) {
    footer {
        .confidentiality-footer{
            align-self: flex-end;
        }
        .prava {
            text-align: center;
            font-size: 12px;
            margin-bottom: 0;
            color: #9e9e9e;
        }

        .logo-block {
            img {
                width: 70%;
                height: 70%;
            }
        }

        .content-block {
            display: none;
        }

        .footer-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .nav-connection {
                font-size: 14px;
                color: #dbdbdb;
            }
        }

        .content-block-mob {
            display: flex;
            flex-direction: column;
            padding: 40px 10%;
            justify-content: space-between;

            img {
                border-bottom: 1px solid #dbdbdb;
            }

            .nav-block {
                display: flex;
                flex-direction: column;
                align-items: center;
                column-gap: 20px;
                row-gap: 10px;
                padding-bottom: 25px;
                margin-bottom: 25px;

                .logo {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;

                    .logo-header {
                        height: 80px;
                    }

                    .logo-text {
                        display: flex;
                        flex-direction: column;
                        color: #dbdbdb;
                        line-height: 160%;

                        span {
                            font-size: 20px;
                            font-weight: 300;
                        }

                        strong {
                            font-size: 32px;
                            font-weight: 800;
                        }
                    }
                }
            }

            .nav-block-connection {
                flex-direction: column;
                align-items: end;
                gap: 20px;
                .connection-icon{
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                }
            }

            .footer-logo {
                border-bottom: 1px solid #dbdbdb;
            }

            .menu {
                margin-bottom: 0;
                align-items: end;
                text-transform: uppercase;
                gap: 30px;
            }
        }

        button.collapsed {
            svg {
                transform: rotate(0deg);
            }
        }

        button {
            background: none;
            border: none;
            width: 100%;
            color: black;
            font-weight: 400;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            svg {
                transition: .3s;
                transform: rotate(90deg);
            }
        }

        .card {
            background: transparent;
            border: none;
            padding-top: 0;
        }

        ul {
            margin-bottom: 0;
        }
    }
}