@import '/public/const.scss';

.categories-container {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 20px;
    background-color: white;

    .categories-card-container {
        //display: flex;
        //flex-direction: row;
        //gap: 20px;
        width: 100%;
        overflow: visible;
        .categories-card {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70vh;
            flex: 1;
            overflow: hidden;

            img {
                position: absolute;
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
                z-index: 1;
                bottom: 0;
                left: 0;
                transition: .5s ease;
                -webkit-transition: .5s ease;
                -moz-transition: .5s ease;
                -ms-transition: .5s ease;
                -o-transition: .5s ease;
            }

            p {
                position: relative;
                /*background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.75),#00000000);
                /*Chrome10-25,Safari5.1-6background: linear-gradient(0deg, rgba(0, 0, 0, 0.75),#00000000);
                /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/
                padding: 0;
                color: white;
                font-size: 20px;
                font-weight: 400;
                text-transform: uppercase;
                text-shadow: 0 0 4px black;
                z-index: 2;
                line-height: 1;
                margin-bottom: 0;
                overflow: visible;
                transition: .5s ease;
                -webkit-transition: .5s ease;
                -moz-transition: .5s ease;
                -ms-transition: .5s ease;
                -o-transition: .5s ease;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    height: 1px;
                    width: 100%;
                    background-color: rgba(255, 255, 255, 0.7);
                    transition: .5s ease;
                    -webkit-transition: .5s ease;
                    -moz-transition: .5s ease;
                    -ms-transition: .5s ease;
                    -o-transition: .5s ease;
}
            }

            &:hover {
                img {
                    scale: 1.03;
                }
                p{
                    &::after{
                        background-color: white;
                        box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 700px){
    .categories-container{
        padding-top: 20px;
        padding-bottom: 40px;
        .categories-card-container{
            gap: 2vw;
            flex-wrap: wrap;
            .categories-card{
                min-width: calc(50% - 1vh);
                height: 40vh;
                p{
                    font-size: 12px;
                }
            }
        }
    }
}